@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Mitesh Yadav</h1>
    <h1 class="display-4">Welcome To Manish Yadav</h1>
    <h1 class="display-4">Welcome To Sujit Yadav</h1>
    
</div>
